// Clinic related pages

ul#clinics-list,
ul.lineup-list {
  li {
    list-style-type: none;
  }
}
ul#clinics-list {
  li {
    a {
      border:           1px solid;
      border-radius:    10px;
      display:          block;
      padding:          10px;
      background-color: lightblue;
      margin:           10px 0;

      &:hover {
        text-decoration:  none;
        background-color: lightcyan;
        text-color:       gray;
      }
    }
  }
}

