$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'mixins';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 2px 5px 0px lightgray;
  padding: 10px;
  height: 60px;

  a.header-title {
    font-size:      20px;
    padding-bottom: 19px;
    line-height:    40px;

    &:hover{
      text-decoration: none;
      color: inherit
    }
  }
}

/* Custom page footer */
.footer {
  padding-top:  19px;
  color:        #777;
  border-top:   1px solid #e5e5e5;
  text-align:   center;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// BEGIN coming_soon
#coming_soon {
  $main-blue:          #7599B1;
  $main-blue-shadow:   #21313E;
  $main-orange:        #F8CD95;
  $main-orange-shadow: #DDB785;
  $main-orange-yellow: #F9E18B;
  font-family:         $montserrat-font-family;

  &.splash {
    background: url("/images/splash.png") no-repeat top center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .shout-out {
    background-color: $main-blue;
    border-radius: 	10px;
    height: 			 	450px;
    opacity: 			 	0.9;
    padding: 			 	10px;
    width: 				 	500px;
    margin: 				100px auto;
    text-align: 		center;
    color: 					white;

    .logo, .subtitle {
      text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
    }

    .logo {
      font-family: 	$oleo-script-font-family;
      font-size: 		40px;
      strong {
        color: $main-orange;
      }
    }

    p.subtitle {
      font-family: 	$open-sans-font-family;
      font-size: 		15px;
      font-style: 	italic;
    }

    p.intro {
      padding: 			0 10px;
      line-height: 	1.8;
      margin-top: 	50px;
    }

    .mailing_list_form {
      margin-top: 50px;

      form {

        .email_field {
          margin: 10px 0;
          input[type='email'] {
            border:        none;
            border-radius: 10px;
          	height:        40px;
          	width:         300px;
          	padding:       0 10px;
          }
        }

        button[type='submit'] {
          border: 					none;
          border-radius: 		10px;
        	height:        		40px;
          width: 				 		100px;
          background-color: $main-orange;
          border-bottom: 		3px solid $main-orange-shadow;
          color: black;

          &:hover {
            border-bottom: 		none;
            background-color: $main-orange-yellow;
          }
        }
      }
    }
  }
}

// END coming_soon