<div class='row marketing'>
  <div class='jumbotron'>
    <h3>You will be sent a confirmation code shortly</h3>
    <p>Enter the code below to request access to this clinic's queue</p>
  </div>
</div>

  <form role='form' ng-controller='QueuesCtrl' ng-submit='confirm()'>
    <div class='errors' ng-show='error'>
      <div class='alert alert-danger'>{{error}}</div>
    </div>

    <div class='form-group'>
      <label for='confirmation'>Confirmation Code:</label>
      <input ng-model='confirmation' type='text' class='form-control' id='confirmation' placeholder='Enter confirmation code'>
    </div>

    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
