<form role='form' ng-controller='QueuesCtrl' ng-submit='requestConfirmation()'>
  <div class='errors' ng-show='error'>
    <div class='alert alert-danger'>{{error}}</div>
  </div>

  <div class='form-group'>
    <label for='health-card'>Health Card Number:</label>
    <input ng-model='patient.healthCard' type='text' class='form-control' id='health-card' placeholder='Enter health card number'>
  </div>

  <div class='form-group'>
    <label for='first-name'>First Name:</label>
    <input ng-model='patient.firstName' type='text' class='form-control' id='first-name' placeholder='Enter first name'>
  </div>

  <div class='form-group'>
    <label for='last-name'>Last Name:</label>
    <input ng-model='patient.lastName' class='form-control' id='last-name' placeholder='Enter last name'>
  </div>

  <div class='form-group'>
    <label for='phone-number'>Phone Number:</label>
    <input ng-model='patient.phoneNumber' class='form-control' id='phone-number' placeholder='Enter phone number'>
  </div>

  <button type='submit' class='btn btn-primary'>Submit</button>
  <a class='btn btn-default' ng-href='#/clinics/{{clinic.id}}'>Back</button>
</form>
