<div id="coming_soon" class="splash">
    <div class="shout-out">
        <div class="logo">
            Medic<strong>Flare</strong>
        </div>
        <p class="subtitle">The best management system for medical institutions</p>

        <div class="mailing_list_form">
            <small>
                Coming soon! <br> Join the community now to receive latest updates!
            </small>
            <form novalidate id="mailing_list">
                <div class="email_field">
                    <input type="email" placeholder="Enter your email"/>
                </div>
                <button class="submit_email">Submit</button>
            </form>
        </div>
    </div>
</div>