<div id="coming_soon" class="splash">
    <div class="shout-out">
        <div class="logo">
            Medic<strong>Flare</strong>
        </div>
        <p class="subtitle">The best queue management system for medical institutions</p>

        <p class="intro">
            For clinic visitors,
            MedicFlare provides you with real time
            updates on your status in line so that you never have to
            physically wait in it yourself.
        </p>

        <div class="mailing_list_form">
            <small>
                Coming soon! <br> Join the community now to receive latest updates!
            </small>
            <form id="mailing_list" method="post">
                <div class="email_field">
                    <input type="email" placeholder="Enter your email"/>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>